<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>

		<!-- Addin directory searches-->
		<Property Id="COMPONENTSDIRECTORY">
			<DirectorySearch Path="[CommonAppDataFolder]"
							Depth="0"
							AssignToProperty="no"
							Id="ProgramDataFolderSearch">
				<DirectorySearch Path="Autodesk\Revit\Addins"
								Depth="0"
								AssignToProperty="yes"
								Id="MainAddinFolderSearch">
				</DirectorySearch>
			</DirectorySearch>
		</Property>

		<Property Id="ADDIN2019DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2019"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2019Search"/>
			</DirectorySearchRef>
		</Property>

		<Property Id="ADDIN2020DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2020"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2020Search"/>
			</DirectorySearchRef>
		</Property>
		
		<Property Id="ADDIN2021DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2021"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2021Search"/>
			</DirectorySearchRef>
		</Property>

		<Property Id="ADDIN2022DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2022"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2022Search"/>
			</DirectorySearchRef>
		</Property>

		<Property Id="ADDIN2023DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2023"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2023Search"/>
			</DirectorySearchRef>
		</Property>

		<Property Id="ADDIN2024DIRECTORY">
			<DirectorySearchRef Id="MainAddinFolderSearch"
								Parent="ProgramDataFolderSearch"
								Path="Autodesk\Revit\Addins">
				<DirectorySearch Path="2024"
								 Depth="0"
								 AssignToProperty="yes"
								 Id="Addin2024Search"/>
			</DirectorySearchRef>
		</Property>


		<!-- Install directory-->
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Shortcut directory -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="MyShortcutsDir" Name="!(loc.Company)" />
			</Directory>

			<!-- Addin components directory -->
			<Directory Id="COMPONENTSDIRECTORY">
				<Directory Id="WarningsFileDirectory" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2019 directory-->
			<Directory Id="ADDIN2019DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2019" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2019" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2020 directory-->
			<Directory Id="ADDIN2020DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2020" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2020" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2021 directory-->
			<Directory Id="ADDIN2021DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2021" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2021" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2022 directory-->
			<Directory Id="ADDIN2022DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2022" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2022" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2023 directory-->
			<Directory Id="ADDIN2023DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2023" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2023" Name="!(loc.Company)" />
			</Directory>

			<!-- Revit 2024 directory-->
			<Directory Id="ADDIN2024DIRECTORY">
				<!-- Addin directory -->
				<Directory Id="AddinFileDirectory2024" />
				<!-- Main directory -->
				<Directory Id="MainFilesDirectory2024" Name="!(loc.Company)" />
			</Directory>

		</Directory>

	</Fragment>

</Wix>