<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Fragment>
		<?define FSource = PluginRelease\ ?>
		<?define FSourceWReport = PluginRelease\WarningsReport\ ?>

		<!-- Start menu shortcuts -->		
		<DirectoryRef Id="MyShortcutsDir">
			<Component Id="StartMenu"
					Guid="{7884B4E6-B64F-41D6-8AA7-C7603292F82C}">

				<Shortcut Id="WebShortcut" 
						  Name="!(loc.ProductName)" 
						  Description="!(loc.Documentation)" 
						  Target="[URL]" 
						  Icon="IconRound.ico">
					<Icon Id="IconRound.ico" SourceFile="$(var.BIMiconToolbar.ProjectDir)\Resources\Logos\BIMiconRound.ico"/>
				</Shortcut>
				<Shortcut Id="UninstallShortcut"
						Name="!(loc.UninstallShortcut)"
						Description= "!(loc.UninstallDescription)"
						Target="[System64Folder]msiexec.exe"
						Arguments="/x [ProductCode]" />
				<RemoveFolder Id="RemoveMyShortcutsDir"
							On="uninstall" />
				<RegistryValue Root="HKCU"
							Key="Software\Microsoft\AwesomeSoftware"
							Name="installed"
							Type="integer"
							Value="1"
							KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Product components -->
		
		<!-- Revit 2017 -->
		<!-- Addin file-->
		<DirectoryRef Id="AddinFileDirectory2017" >			
			<Component Id="AddinFile2017" Guid="{9D2E3733-B834-4489-AC79-D7A8AEE3EF28}">
				<File Id="AddinFileADDIN2017" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)" />
			</Component>
		</DirectoryRef>

		<!-- Revit 2018 -->
		<!-- Addin file-->
		<DirectoryRef Id="AddinFileDirectory2018" >
			<Component Id="AddinFile2018" Guid="{376697C0-8485-481E-B2A5-8915BB6B081F}">
				<File Id="AddinFileADDIN2018" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)"/>
			</Component>
		</DirectoryRef>

		<!-- Revit 2019 -->
		<!-- Addin file-->
		<DirectoryRef Id="AddinFileDirectory2019" >
			<Component Id="AddinFile2019" Guid="{A6AB797E-26B5-40F2-82C2-1DF2BD482A18}">
				<File Id="AddinFileADDIN2019" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)"/>
			</Component>
		</DirectoryRef>

		<!-- Revit 2020 -->
		<!-- Addin file-->
		<DirectoryRef Id="AddinFileDirectory2020" >
			<Component Id="AddinFile2020" Guid="{4CFDF2A7-E366-4867-A68B-E8F4575327E0}">
				<File Id="AddinFileADDIN2020" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)"/>
			</Component>
		</DirectoryRef>

		<!-- Revit 2021 -->
		<!-- Addin file-->
		<DirectoryRef Id="AddinFileDirectory2021" >
			<Component Id="AddinFile2021" Guid="{A356E60F-3E78-4DD5-BBF7-A963B1A65627}">
				<File Id="AddinFileADDIN2021" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)"/>
			</Component>
		</DirectoryRef>

    <!-- Revit 2022 -->
    <!-- Addin file-->
    <DirectoryRef Id="AddinFileDirectory2022" >
      <Component Id="AddinFile2022" Guid="{B4788CBF-3FCB-4C2F-AB97-35B04AB461BB}">
        <File Id="AddinFileADDIN2022" Name="BIMicon.addin" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>
    </DirectoryRef>
    
    <!-- Common components for all versions -->
    <!-- Warning classification JSON -->
    <DirectoryRef Id="WarningsFileDirectory" >
      <Component Id="WarningsFile" Guid="{E4DED7A1-F625-4B83-8FDC-623305CD67F7}">
        <File Id="WarningsFileJSON" Name="RevitWarningsClassified.json" KeyPath="yes" Source="$(var.FSourceWReport)"/>
      </Component>
    </DirectoryRef>
		
    <ComponentGroup Id="ProductComponents" Directory="MainFilesDirectory">
      <!-- Install files -->
      <!-- Main components -->
      <!-- Compilled dll -->
      <Component Id="MainFile" Guid="{D50866F5-3808-401D-8904-92C98805F852}">
        <File Id="MainFileDLL" Name="BIMiconToolbar.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>

      <!-- 3rd Party Required components -->
      <!-- ICSharp files -->
      <Component Id="iCSharpFile" Guid="{AE0FDE4E-2359-43E9-BC53-3CA39A97845F}">
        <File Id="iCSharpDLL" Name="ICSharpCode.SharpZipLib.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>

      <!-- Newtonsoft files -->
      <Component Id="newtonFile" Guid="{FFE962C5-4E1F-4863-9D29-3C7C31DA5ACB}">
        <File Id="newtonDLL" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>

      <!-- NPOI files -->
      <Component Id="npoiFile" Guid="{C54BC6DB-10AE-4D04-B20E-A64F2D68129E}">
        <File Id="npoiDLL" Name="NPOI.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>
      <Component Id="npoiOOFile" Guid="{E99D0B2C-473D-4726-9390-54441F91D02F}">
        <File Id="npoiOODLL" Name="NPOI.OOXML.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>
      <Component Id="npoiOpenFile" Guid="{14DF1BF8-8DF8-4417-84AF-F6AB70A847BC}">
        <File Id="npoiOpen" Name="NPOI.OpenXml4Net.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>
      <Component Id="npoiOpenForFile" Guid="{A0B57240-920E-40C3-9098-772363909D3C}">
        <File Id="npoiOpenForDLL" Name="NPOI.OpenXmlFormats.dll" KeyPath="yes" Source="$(var.FSource)"/>
      </Component>
    </ComponentGroup>
		
	</Fragment>
	
</Wix>
